#main .tiles article {
  background-position: top;
}

#education + ul {
  list-style: none;
  padding-left: 0;
}

#education + ul li {
  padding-left: 0;
}

.two-col {
  column-count: 2;
  column-gap: 40px;
}

#wrapper #banner>.inner .content ul.front-icons {
  font-family: 'Archivo Narrow', Helvetica, sans-serif;
  font-size: 1.2em;
}

#wrapper #banner>.inner .content ul.front-icons i {
  padding-right: 15px;
}

#banner ul.front-icons {
  list-style: none;
}

#wrapper #banner>.inner .content p {
  font-size: 1em;
}
