#main .tiles article {
  background-position: top;
}

#education + ul {
  list-style: none;
  padding-left: 0;
}

#education + ul li {
  padding-left: 0;
}

.two-col {
  column-count: 2;
  column-gap: 40px;
}
